@import './styles/variables.css';

.body {
  background: url("./assets/img/background.jpg");
  background-size: auto;
  margin: 0;
  background-attachment: fixed;
  font-family: 'Oswald';
}

.header {
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.store-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 32px;
  color: var(--beige-light);
  font-family: 'Oswald';
  margin: 0;
}

.subtitle {
  font-size: 16px;
  color: var(--beige-light);
  font-family: 'Oswald';
  margin: 0;
}

.main {
  display: flex;
  column-gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.products {
  max-width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.message-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 30%;
  min-width: 350px;
}

.no-find-message {
  font-size: 48px;
  color: var(--green-grey);
  display: none;
}

.no-find-message.shown {
  display: flex;
  justify-content: center;
}

.footer {
    width: 90%;
    height: 90px;
    padding: 10px 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.git-link,
.course-link,
.course-logo {
    transition: 0.5s;
}
.git-link {
    text-decoration: none;
}
.git-link,
.date {
    font-family: inherit;
    font-size: 30px;
    color: var(--beige-light);
}
.git-link:hover {
    color: var(--beige-dark);
}
.course-logo:hover {
    transform: scale(1.2);
}

