.product-item {
  display: flex;
  width: 300px;
  height: 240px;
  flex-direction: column;
  background-color: var(--beige-light);
  border: solid 4px var(--green-base);
  font-family: 'Oswald';
  border-radius: 5px;
  transition: 0.3s;
}

.product-header {
  margin: 0;
  padding: 5px;
  text-align: center;
  background-color: var(--green-dark);
  color: var(--beige-light);
  transition: 0.3s;
}

.product-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-props-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0 15px 15px;
}

.product-item.product-added {
  border: solid 4px var(--green-light);
  background-color: var(--beige-dark);
}

.product-item.product-added .product-header {
  background-color: var(--green-base);
}

.product-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 5px;
}

.product-property {
  margin: 0;
  font-size: 14px;
  color: var(--green-dark);
}

.product-btn {
  margin-top: 5px;
  border: solid 3px var(--green-dark);
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
  transition: 0.3s;
}

.product-btn:hover {
  transform: scale(1.1);
}

.product-btn:active {
  color: var(--beige-light)
}

.product-btn-add {
  background: var(--green-light);
}

.product-btn-remove {
  background: var(--red-light);
}
