.ranges {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.range-text {
  margin: 5px;
  font-size: 16px;
  color: var(--beige-light); 
}

.amount-range,
.size-range {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.amount-range-slider,
.size-range-slider {
  width: 200px;
}

.amount-value-left,
.amount-value-right,
.size-value-left,
.size-value-right {
  min-width: 30px;
  min-height: 30px;
  border: solid 2px var(--green-dark);
  background-color: var(--beige-light);
  color: var(--green-dark);
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}
.noUi-target {
  cursor: pointer;
}
.noUi-connect {
  background-color: var(--green-light) !important;
}
.noUi-handle {
  border: 2px solid var(--green-dark) !important;
  border-radius: 5px !important;
  background: var(--beige-light) !important;
  cursor: pointer !important;
  box-shadow: none !important;
  transition: 0.3s;
}
.noUi-handle:hover {
  background: var(--beige-dark) !important;
}
.noUi-handle:active {
  border: 2px solid var(--green-base) !important;
  background: var(--beige-dark) !important;
}
.noUi-handle:before,
.noUi-handle:after {
  height: 16px !important;
  width: 2px !important;
  background: var(--green-dark) !important;
  left: 11px !important;
  top: 4px !important;
  border-radius: 1px;
}
.noUi-handle:after {
  left: 19px !important;
}
.noUi-handle:active:before,
.noUi-handle:active:after {
  background: var(--green-base) !important;
}