.resets {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 10px;
}

.reset-button {
  width: 250px;
  height: 40px;
  font-size: 16px;
  font-family: 'Oswald';
  color: var(--green-dark);
  background-color: var(--beige-light);
  border: 2px solid var(--green-dark);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-button:hover {
  border: 2px solid var(--green-base);
  font-size: 18px;
}

.reset-button:active {
  border: 2px solid var(--green-base);
  font-size: 18px;
  background-color: var(--green-light);
}