.resets {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 10px;
}

.reset-button {
  width: 250px;
  height: 40px;
  font-size: 16px;
  font-family: 'Oswald';
  color: #01220e;
  background-color: #fbf9e5;
  border: 2px solid #01220e;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-button:hover {
  border: 2px solid #036a37;
  font-size: 18px;
}

.reset-button:active {
  border: 2px solid #036a37;
  font-size: 18px;
  background-color: #4af26e;
}