:root {
  --wight: #ffffff;
  --beige-light: #fbf9e5;
  --beige-dark: #c6b26d;
  --light-rad: #f43636;
  --red-dark: #842222;
  --green-light: #4af26e;
  --green-base: #036a37;
  --green-dark: #01220e;
  --green-grey: #84ba96;
}